<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>

<h2>Employee</h2>

<table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Adresse</th>
            <th>City</th>
            <th>Contract</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="employee : ${employees}">
            <td><span th:text="${employee.lastname+' '+employee.firstname}"> Name </span></td>
            <td><span th:text="${employee.birthdate}"> Birthdate </span></td>
            <td><span th:text="${employee.empdet.adresse}"> Adresse </span></td>
            <td><span th:text="${employee.empdet.city}"> City </span></td>
            <td><a th:href="@{'/api/empgest/Contract/E/'+${employee.id}}">See contract</a></td>

        </tr>
        </tbody>

</table>
</body>
</html>